@{
    ViewBag.Title = "About Hotel";
}
<h2>Information about hotel</h2>

<p>
    This hotel is an implementation of a network application for hotel automation.
    <br/>
    Designed by Kirill Kartashou
</p>
