@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hotel booking<br />
    <abbr title="Phone">Phone:</abbr>
    +375 (44) 443-55-55
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hotelsupport@gmail.com">hotelsupport@gmail.com</a><br />
</address>